# ===============================
# Python / Jupyter
# ===============================
__pycache__/
.ipynb_checkpoints/
*.pyc
*.pyo

# ===============================
# Power BI
# ===============================
*.pbix.autosave

# ===============================
# Environment files
# ===============================
.env

# ===============================
# OS / System files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Logs / Temp
# ===============================
*.log
*.tmp
